body {
    background-color: lightblue;
    font-family: 'Raleway', sans-serif;
  }
  nav {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 1;
    width: 100vw;
    font-family: 'Raleway', sans-serif;    
  }
  nav ul li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
    text-align: center;
  }
  #brand {
    float:left;
  }
  .nav-link {
    color: darkred;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
  }
  .nav-link:hover {
    color: lightblue;
    font-weight: bold;
  }
  #brand .nav-link{
    color: lightblue;
    font-size: 14pt;
  }
  #brand .nav-link:hover{
    color: darkred;
  }
  h1 {
    font-size: 60pt;
    color: #757571;
  }
  #home {
    margin-top: 50px;
    position: relative;
    left: -8px;
    width: 100vw;
    height: 30vh;
    padding-top: 3em;
    background: url("./assets/pineapple.jpg") center 75% no-repeat fixed;
    background-size: cover;
  }
  .header-tag { 
    text-align: center; 
    color: #757571;
    text-shadow: 2px 2px 2px black
  }
  h3.header-tag {
    margin-top: -30px;
    font-size: 18pt;
  }
  h2 {
    font-family: 'Acme', sans-serif;
    font-size: 24pt;
    color: #757571;
    text-shadow: 1px 1px 1px black;
  }
  .main {
    text-align: center;
  }
  #about {
    margin-top: 50px;
    display: inline-block;
  }
  #about-picture {
    width: 30vw;
    float: left;
  }
  #profile-pic {
    Height: 700px;
    width: 500px;
    object-fit: cover;
    border-radius: 0.4em;
    box-shadow: 2px 2px 2px black;
  }
  #about-content {
    width: 40vw;
    float: right;
  } 


  #contact-form {
    margin: auto;
    margin-top: 100px;
    width: 30vw;
    background-color: grey;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    border-radius: .4em;
  }
  #contact-form input{
    width: 90%;
    margin-bottom: 20px;
    height: 50px;
    font-size: 18px;
    text-align: center;
}      
#contact-form h2 {
    color: white;
    font-size: 28pt;
    text-shadow: 2px 2px 2px black;
}     
textarea {
    resize: none;
    height: 200px;
    width:  90%;
    margin-bottom: 30px;
}



#about_me{
    margin-top: 50px;
    position: relative;
    left: -8px;
    width: 100vw;
    height: 60vh;
    padding-top: 3em;
    background: url("./assets/cycle_bike.jpg") center 75% no-repeat fixed;
    background-size: cover;
}
    h6.header-tag {
        font-size: 60pt;
        color: #20471f;
        text-shadow: 2px 2px 2px black;
    }
    h8 {
        text-align: center;
        font-size: 30pt;
        color: #20471f;
        text-shadow: 2px 2px 2px black;
    }
    .about_page {
        text-align: center;
    }